@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* reset css to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* outline: 1px dashed hwb(0 23% 36%); */
}

/* setting page background and styles */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}

/* Start of styling header and nav */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 70px 70px; /* top, right, bottom , left */
  width: 80%;
  margin: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-inline: 30px;
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fdbd31;
  transition: 0.3s;
}

/* End of styling header and nav */

/* Start of styling main section */

#mainsection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  margin: auto;
  width: 80%;
  height: 100dvh;
}

.left-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: normal;
  width: 90%;
  margin: 28px auto; /* top-bottom left-right */
}

.profile-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 5px 0px 5px;
  border: 5px solid white;
}

.profile-container p span {
  display: block;
}

.profile-details ul li {
  list-style: none;
  font-size: small;
  padding-left: 20px;
  line-height: 25px;
}

.profile-details .subheader {
  display: block;
  padding: 5px 0;
  font-size: medium;
  border-bottom: 1px dashed lightblue;
  border-top: 1px dashed lightblue;
}

.linkcontainer {
  display: flex;
  margin-top: 10px;
}

.linkcontainer a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008080;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* Start of styling project card */
.projectcard {
  background-color: #fff;
  font-size: small;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 24px;
}

.projectcard h4,
.projectcard p {
  padding-left: 16px;
}

.projectcard img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-image: url("img/imgplaceholder.png");
  text-indent: -9999px;
}

.projectcard .scope {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

.projectcard:hover {
  transition: 0.45s ease-out;
  transform: scale(1.05);
}

.projectcard a {
  text-decoration: none;
  color: #808080;
  transform: scale(1);
}

.projectcard span {
  display: inline-block;
  font-size: x-small;
  align-content: space-between;
  border-radius: 6px;
  margin: 4px;
  background-color: #20b2aa;
  padding: 5px 10px;
  color: #fff;
  white-space: nowrap;
}

/* End of styling project card */

/* Start of styling miscellaneous items */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top a {
  margin-top: 20px;
  text-decoration: none;
  color: lightseagreen;
  font-size: small;
}

/* End of styling miscellaneous items */

/* Start of Styling of project section and showcase container */

.sectiontitle,
.logo {
  font-size: xx-large;
  font-weight: 700;
  color: #20b2aa;
}

#projectsection {
  width: 80%;
  height: 100dvh;
  margin: auto;
}

.showcasecontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* End of Styling of project section and showcase container */

/* End of styling main section */